.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.pic {
  display: inline;
  margin: 0 auto;
  margin-left: -10%;
  height: auto;
  width: 120%;
}